apiVersion: autoscaling.sarabala.io/v1alpha1
kind: SmartHorizontalPodAutoscaler
metadata:
  name: example-smarthpa
  namespace: default
spec:
  HPAObjectRef:
    name: example-hpa
    namespace: default
  triggers:
  - name: business-hours
    priority: 100
    timezone: "America/Los_Angeles"
    interval:
      recurring: "M,TU,W,TH,F"
    startTime: "09:00:00"
    endTime: "20:00:00"
    startHPAConfig:
      minReplicas: 5
      maxReplicas: 10
    endHPAConfig:
      minReplicas: 1
      maxReplicas: 3
  - name: weekend-scale-down
    priority: 50
    timezone: "America/Los_Angeles"
    interval:
      recurring: "SAT,SUN"
    startHPAConfig:
      minReplicas: 1
      maxReplicas: 2
    endHPAConfig:
      minReplicas: 1
      maxReplicas: 2
